.member-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .member-table th, .member-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    background-color:gray;
  }
  
  .member-table th {
    background-color: brown;
  }
  